In [1]:
# Updated 05.10.2020

import pandas as pd
import biogeme.database as db
import biogeme.biogeme as bio
from biogeme.expressions import Beta, DefineVariable
from biogeme.models import loglogit

pandas = pd.read_table("netherlandsRP.dat")
database = db.Database("netherlands",pandas)
pd.options.display.float_format = '{:.3g}'.format

globals().update(database.variables)

#Parameters to be estimated
# Arguments:
#   1  Name for report. Typically, the same as the variable
#   2  Starting value
#   3  Lower bound
#   4  Upper bound
#   5  0: estimate the parameter, 1: keep it fixed
ASC_CAR = Beta('ASC_CAR',0,-10,10,0)
ASC_RAIL = Beta('ASC_RAIL',0,-10,10,1)
BETA_TIME_RAIL = Beta('BETA_TIME_RAIL',0,-10,10,0)
BETA_TIME_CAR = Beta('BETA_TIME_CAR',0,-10,10,0)
BETA_COST_AGE1 = Beta('BETA_COST_AGE1',0,-10,10,0)
BETA_COST_AGE2 = Beta('BETA_COST_AGE2',0,-10,10,0)
BETA_FEMALE = Beta('BETA_FEMALE',0,-10,10,0)
BETA_FIXED_ARRIVAL_TIME = Beta('BETA_FIXED_ARRIVAL_TIME',0,-10,10,0)

# Define here arithmetic expressions for name that are not directly available from the dataxpressions for name that are not directly available from the data
rail_time  = DefineVariable('rail_time',rail_ivtt + rail_acc_time + rail_egr_time, database)
car_time = DefineVariable('car_time',car_ivtt + car_walk_time, database)

rate_G2E  = DefineVariable('rate_G2E',0.44378022,database) #from Guilders to euros
car_cost_euro  = DefineVariable('car_cost_euro',car_cost * rate_G2E,database)
rail_cost_euro  = DefineVariable('rail_cost_euro', rail_cost * rate_G2E,database)

age1 = DefineVariable('age1',(age == 0), database) #40 years or younger
age2 = DefineVariable('age2',(age == 1), database) #41 years or older
employed = DefineVariable('employed',(employ_status == 0), database)

# Utilities
V_CAR = ASC_CAR + BETA_TIME_CAR * car_time + BETA_COST_AGE1 * car_cost_euro * age1 + BETA_COST_AGE2 * car_cost_euro  * age2
V_RAIL = BETA_TIME_RAIL * rail_time + BETA_COST_AGE1 * rail_cost_euro * age1 + BETA_COST_AGE2 * rail_cost_euro * age2 + BETA_FEMALE * gender + BETA_FIXED_ARRIVAL_TIME * arrival_time

V = {0: V_CAR, 1: V_RAIL}
av = {0: 1,1: 1}


logprob = loglogit(V,av,choice)
biogeme  = bio.BIOGEME(database,logprob)
biogeme.modelName = "Netherlands_Base_Model"
results = biogeme.estimate()

# Get the results in a pandas table
pandasResults = results.getEstimatedParameters()
display(pandasResults)
print(f"Nbr of observations: {database.getNumberOfObservations()}")
print(f"LL(0) =    {results.data.initLogLike:.3f}")
print(f"LL(beta) = {results.data.logLike:.3f}")
print(f"rho bar square = {results.data.rhoBarSquare:.3g}")
print(f"Output file: {results.data.htmlFileName}")

,Value,Std err,t-test,p-value,Rob. Std err,Rob. t-test,Rob. p-value
ASC_CAR,3.35,1.15,2.91,0.00362,1.09,3.07,0.00214
BETA_COST_AGE1,-0.106,0.0276,-3.83,0.00013,0.0287,-3.68,0.000229
BETA_COST_AGE2,-0.157,0.0368,-4.26,2.09e-05,0.0374,-4.18,2.93e-05
BETA_FEMALE,0.819,0.345,2.37,0.0176,0.346,2.37,0.0179
BETA_FIXED_ARRIVAL_TIME,0.92,0.337,2.73,0.00635,0.333,2.76,0.00577
BETA_TIME_CAR,-2.27,0.505,-4.5,6.88e-06,0.498,-4.56,5.07e-06
BETA_TIME_RAIL,-0.511,0.435,-1.17,0.24,0.45,-1.14,0.256

Nbr of observations: 228
LL(0) =    -158.038
LL(beta) = -111.170
rho bar square = 0.252
Output file: Netherlands_Base_Model.html

In [3]:
pandas.describe()

,id,rp,sp,choice,purpose,npersons,age,employ_status,mainearn,arrival_time,...,rp_rail_ovt,rp_car_ovt,rail_time,car_time,rate_G2E,car_cost_euro,rail_cost_euro,age1,age2,employed
count,228,228,228,228,228,228,228,228,228,228,...,228,228,228,228,228,228,228,228,228,228
mean,118,1,0,0.355,0.162,2.47,0.325,0.474,0.474,0.386,...,0.548,0.0858,2.17,1.73,0.444,7.21,15.6,0.675,0.325,0.526
std,68.4,0,0,0.48,0.37,1.32,0.469,0.5,0.5,0.488,...,0.251,0.105,0.399,0.387,1.11e-16,6.92,4.38,0.469,0.469,0.5
min,1,1,0,0,0,1,0,0,0,0,...,0.083,0,1.1,0.767,0.444,0.111,3.46,0,0,0
25%,58.8,1,0,0,0,2,0,0,0,0,...,0.334,0.017,1.92,1.5,0.444,2.77,13.3,0,0,0
50%,120,1,0,0,0,2,0,0,0,0,...,0.5,0.0415,2.08,1.58,0.444,5.07,15.5,1,0,1
75%,176,1,0,1,0,3,1,1,1,1,...,0.667,0.083,2.42,2.02,0.444,8.88,17.8,1,1,1
max,235,1,0,1,1,6,1,1,1,1,...,1.5,0.833,3.5,3.05,0.444,39.9,33.3,1,1,1

In [5]:
pd.set_option("display.max.columns", None)
pd.set_option("display.precision", 2)

In [7]:
pandas.describe()

,id,rp,sp,choice,purpose,npersons,age,employ_status,mainearn,arrival_time,gender,rail_ivtt,rail_cost,rail_transfers,rail_acc_time,rail_egr_time,rail_acc_mode,rail_egr_mode,seat_status,car_ivtt,car_cost,car_walk_time,car_parking_fee,rail_comfort,rp_transfer,rp_choice,rp_rail_ovt,rp_car_ovt,rail_time,car_time,rate_G2E,car_cost_euro,rail_cost_euro,age1,age2,employed
count,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228
mean,118,1,0,0.355,0.162,2.47,0.325,0.474,0.474,0.386,0.447,1.62,35,0.684,0.245,0.303,0.25,0.259,0.0746,1.64,16.3,0.0858,0.649,-1,0.684,0.355,0.548,0.0858,2.17,1.73,0.444,7.21,15.6,0.675,0.325,0.526
std,68.4,0,0,0.48,0.37,1.32,0.469,0.5,0.5,0.488,0.498,0.348,9.88,0.655,0.149,0.189,0.434,0.439,0.263,0.364,15.6,0.105,0.478,0,0.655,0.48,0.251,0.105,0.399,0.387,1.11e-16,6.92,4.38,0.469,0.469,0.5
min,1,1,0,0,0,1,0,0,0,0,0,0.75,7.8,0,0.05,0,0,0,0,0.75,0.25,0,0,-1,0,0,0.083,0,1.1,0.767,0.444,0.111,3.46,0,0,0
25%,58.8,1,0,0,0,2,0,0,0,0,0,1.5,30,0,0.167,0.167,0,0,0,1.48,6.25,0.017,0,-1,0,0,0.334,0.017,1.92,1.5,0.444,2.77,13.3,0,0,0
50%,120,1,0,0,0,2,0,0,0,0,0,1.5,35,1,0.167,0.25,0,0,0,1.5,11.4,0.0415,1,-1,1,0,0.5,0.0415,2.08,1.58,0.444,5.07,15.5,1,0,1
75%,176,1,0,1,0,3,1,1,1,1,1,2,40,1,0.333,0.333,0.25,1,0,2,20,0.083,1,-1,1,1,0.667,0.083,2.42,2.02,0.444,8.88,17.8,1,1,1
max,235,1,0,1,1,6,1,1,1,1,1,3,75,2,1,1.25,1,1,1,3,90,0.833,1,-1,2,1,1.5,0.833,3.5,3.05,0.444,39.9,33.3,1,1,1